        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
               <h2>Contact Eggsy Chen</h2>
                <p>Feel free to email me to provide some feedback</p>
                <p>歡迎交流分享</p>
                <p><a href="mailto:gn00533502@gmail.com">gn00533502@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.facebook.com/boss.chen.543" class="btn btn-default btn-lg"><i class="fa fa-facebook"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/gn00533502" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/103971470423905558967/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>