
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    <link rel="Bookmark" href="{% static "favicon.ico" %}">

    <meta charset="big5">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IRON MAN</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Home</span> Iron Man
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">IRONMAN INTRO</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">official(ironman3)</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#news">Latest news</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">wallpaper</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#me">ABOUT ME</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">IRON MAN</h1>
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/VVyoXimCrdQ?rel=0&amp;controls=0&amp;showinfo=0 &autoplay=1" frameborder="0" allowfullscreen></iframe>
                        <font color="orange"><p class="intro-text">Genius, billionaire, playboy, philanthropist.<br>I AM </font><font color="red">IRON MAN</font></p>
                        <!-- 一個可捲到about的按鈕 -->
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
    {% include 'intro.html' %}
    </section>

    <!-- Official Section -->
    <section id="download" class="content-section text-center">
    {% include 'official.html' %}
    </section>

    <!-- Latest news Section  -->
    <section id="news" class="container content-section text-center">
    {% include 'news.html' %}
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
    {% include 'wallpaper.html' %}
    </section>


    <!-- me Section -->
    <section id="me" class="content-section text-center">
    {% include 'me.html' %}
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
    {% include 'contact.html' %}
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>公司位置</p>
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMrN75OBOz7O114oR4cHGsezh9T2Y51b4&callback=initMap"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/grayscale.js" %}"></script>

</body>

</html>
