       <div class="row">
            <div class="col-md-6">
                The Past is Prelude - Marvel's Captain America: Civil War
                <iframe width="300" height="200" src="https://www.youtube.com/embed/6Fc-qgLGQ-I?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>  
            </div>
            <div class="col-md-6">
                Brothers in Arms - Marvel's Captain America: Civil War Featurette
                <iframe width="300" height="200" src="https://www.youtube.com/embed/8K5QY8X91vI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                 【美國隊長3: 英雄內戰】HD最終版中文電影預告<br>
                 <iframe width="300" height="200" src="https://www.youtube.com/embed/6Mwwl5iAWDQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>